@keyframes downToTop {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes highOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
